
.logo{
    -fx-background-color: #fff;
}

.login{
    -fx-background-color: #000;

@ -13,28 +9,28 @@
}

.button:focused{
    -fx-text-fill: #0284c7 ;
    -fx-background-color: #bae6fd ;
    -fx-text-fill: #FFFFFF ;
    -fx-background-color: #000000 ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.btn{
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: #0284c7;
    -fx-border-color: #A9A9A9;

    -fx-text-fill: #0284c7;
    -fx-text-fill: black;
}

.btn:focused{
    -fx-font-size: 12px;
    
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.button:hover{
    -fx-text-fill: #0284c7;
    -fx-background-color: #e0f2fe;
    -fx-text-fill: 	#FFFFFF;
    -fx-background-color: #000000;
}

.sidebar{
@ -62,20 +58,9 @@
    -fx-text-fill: #fff;
}

/* #menuButton:hover{
    -fx-background-color:#efe9ff ;
    
} */
/* .active{
    -fx-text-fill: #7942fe ;
    -fx-background-color: #efe9ff ;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-background-color: #0284c7;
    
    -fx-text-fill: #fff;
} */

.Imgbtn:hover{
	-fx-background-color: white !important;
}

.danger{
    -fx-border-radius: 4px;
